services:
  db:
    image: postgres:15
    container_name: forestfy-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: forestfy
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: forestfy-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
  
  backend:
    build: ./backend
    container_name: forestfy-backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+asyncpg://admin:admin@db:5432/forestfy
      SECRET_KEY: 4a919117c40925de99d45759442be93b
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  db_data: